<link rel="stylesheet" href="css/academicons.min.css"/>

<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a class="black" href="https://osf.io/j42rp/"><i class="ai ai-osf"></i> osf</a> &nbsp &nbsp
        <a class="black" href="https://orcid.org/0000-0002-7706-2272/"><i class="ai ai-orcid"></i> ORCiD</a> &nbsp &nbsp
        <a class="black" href="https://www.researchgate.net/profile/Janne-Lorenzen-2/"><i class="ai ai-researchgate"></i> ResearchGate</a>
      </div>

      <div class="footer-col footer-col-2">
      </div>
        </i><p>E-mail: janne(dot)lorenzen(at)uni-mainz(dot)de</p>
      <div class="footer-col footer-col-3">

      </div>
    </div>

  </div>

</footer>
